<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script type="text/javascript" src="/bootstrap.min.js"></script>
  </head>
  <body style="background-color: lightcyan; font-family: Helvetica">
    {{{body}}}
  </body>
</html>
