
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div style="text-align:center">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        <div class="row">
          <div class="col-sm">
          </div>
          <div class="col-sm">
            <textarea id="req" rows="40" cols="50">
              {{req}}
            </textarea>
  
            <textarea id="res" rows="40" cols="50">
              {{res}}
            </textarea>
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
